*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #1f242d;
}
a{
    color: white;
    text-decoration: none;

}
.nav-bar{
    position:fixed ;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 25px 9%;
    /* background-color: slateblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.nav-bar .logo {
    font-size: 30px;
    font-weight: 700;

}
.nav-bar > ul {
    display: flex;
}
.nav-bar > ul > li {
    margin-left: 35px;
    list-style: none;
}
.nav-bar > ul > li > a {
    font-size: 20px;
    font-weight: 500;
    transition: 3s;
}
.nav-bar > ul > li:hover > a {
    color: yellow;
}
.nav-bar > ul > li.active > a {
    color: yellow;
}
